<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>second page</title>
</head>
<body>
<p align="center">
  <img src="https://yi-files.s3.amazonaws.com/products/213000/213233/213234-full.jpg">
</p>
<b>
  <P>
    <h1>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aperiam consequatur dolore eos molestiae suscipit! Autem cupiditate dicta esse exercitationem impedit, in inventore ipsum laborum quasi saepe soluta, vel vitae!
    </h1>
  </P>
</b>
</body>
</html>